.navigation {
    padding: 40px;
    background-image: url('allbikes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 600px;
}

.button:hover {
    background-color: bisque;
    color: black;
}

.button {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 4px;
    background-color: tan;
}

.navbar {
    padding: 10px;
}

.navigation h1{
color:rgb(211, 139, 58);
text-align: center;
font-size: 100px;
font-family: sans-serif;
padding: 400px;
border-radius: 4000px;
}